@media (min-width : 568px){
    .search-bar{
        width: 400px;
    }
}
@media (min-width : 992px) {
    #sidebar-open{
        display: none;
    }
    .sidebar-collapsed #sidebar-open{
        display: block;
    }
    main,header{
        width: calc(100vw - 280px);
        margin-left: auto;
    }
    .sidebar-collapsed header{
        width: 100%;
    }
}